<html>
  <head>
    <title>Sudoku Solver</title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="<%= stylesheet_path('app.css') %>" rel="stylesheet" />
  </head>
  <body><%= yield %></body>
</html>
