@import "bootstrap";
@import "compass";
@import "loading";

body {
  background:#3498db; color:white; text-align:center;
}

.light { font-weight:100; }
.large { font-size:24px; }

img { width:auto; height:300px; padding:10px; }

table { text-align:center; margin:auto; }

.test-images {
  text-align:center; min-height:300px;
  a { opacity:1; @include transition(opacity 1s linear); }
  #loading { position:absolute; opacity:0; @include transition(opacity .3s linear); width:100%; height:100%; display:none; z-index:3; }

  &.image-chosen {
    position:relative; text-align:center;
    a {
      opacity:0;
      &.chosen { opacity:1; position:absolute; }
    }
    #results { position:absolute; top:0; opacity:0; z-index:2; @include transition(all 1s ease); text-align:center; width:100%; }
    &.loaded #results { opacity:1; }
    &.loading {
      #loading { opacity:1; display:block; }
      &.chosen { opacity:0.5; }
    }
  }
}